{% extends 'default.html' %}
{% load i18n %}
{% block title %}
{% endblock title %}
{% block side-left %}
    <section>
        <h1>{% trans 'Categories' %}</h1>
    </section>
    <section>
        <ul class="categories">
        {% for category in categories %}
            <li class="category">
                <a href="#">{{category.name}}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
{% endblock side-left %}
{% block content %}
    {% for post in posts %}
    <div class="card-left">
        <h1>{{post.title}}</h1>
        <p>{{post.text|truncatechars:120}}</p>
        <button class="green-button"><a href="{% url 'PostDetail' post.pk post.slug %}">Redirect</a></button>
    </div>
    {% endfor %}
{% endblock content %}
{% block side-right %}
<section>
    <h1>{% trans 'News' %}</h1>
</section>
    <section class="posts">
        <ul>
        {% for post in posts %}
            <li>
                <a href="#">{{ post.author }}</a>
                <h3><a href="#">{{ post.title }}</a></h3>
                <p>{{ post.text|truncatechars:100 }}</p>
            </li>
        {% endfor %}  
        </ul>
    </section>
{% endblock side-right %}