<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load tz %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'favicon.png' %}">
        <title>
            {% block title %}
            {% trans "Bulletin Board" %}
            {% endblock title %}    
        </title>
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <header class="header">
            {% block header %}
            {% endblock header %}
            <!--Начало панели навигации-->
            <nav class="navigation">
                <!--Начало логотипа-->
                <div class="logo">
                    <a class="text-logo" href="{% url 'BoardList' %}">{% trans "Bulletin Board" %}</a>
                    <span class="undeground-text">{% trans "MMORPG" %}</span>
                </div>
                <!--Конец логотипа-->
                <ul>
                    <li><a class="text-navigation" href="#">{% trans "Categories" %}</a></li>
                    <li><a class="text-navigation" href="#">{% trans "News" %}</a></li>
                </ul>
            </nav>
            <!--Конец панели навигации-->
            {% block nav %}
            {% endblock nav %}
            {% block user_nav %}
            <ul>
                {% if request.user.is_authenticated %}
                <li><a class="user" href="{% url 'accounts_profile' user.pk %}">{% trans "Profile" %}</a></li>
                <li><a class="user" href="{% url 'accounts_logout' %}">{% trans "Logout" %}</a></li>
                {% else %}
                <li><a class="user" href="{% url 'accounts_login' %}">{% trans "Login" %}</a></li>
                <li><a class="user" href="{% url 'accounts_signup' %}">{% trans "SignUp" %}</a></li>
                {% endif %}
            </ul>
            {% endblock user_nav %}
        <!--Конец пользовательской навигации-->
        </header>
        <main class="main">
            <!--Начало боковой панели-->
            <aside class="side-left">
                {% block side-left %}
                {% endblock side-left %}
            </aside>
            <!--Конец боковой панели-->
            <!--Начало блока с контентом-->
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
            <!--Конец блока с контентом-->
            <di class="side-right">
                {% block side-right %}
                {% endblock side-right %}
            </div>
        </main>
        <!--Начало цоколя =)-->
        <footer class="footer">
            © {% trans "Bulletin Board" %}  
        </footer>
        <!--Конец цоколя-->
    </body>
</html>