<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load tz %}
<html lang="en">
    <head>

        <!--Start block styles-->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'favicon.png' %}">
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        <!--End block styles-->

        <title>
            {% block title %}
            {% trans "Bulletin Board" %}
            {% endblock title %}    
        </title>
        
    </head>
    <body>
        <header class="header">

            {% block header %}
            {% endblock header %}

            <!--Start navigation panel-->
            {% block nav %}
            <nav class="navigation">
                <!--Start block logo-->
                <div class="logo">
                    <a class="text-logo" href="{% url 'BoardList' %}">{% trans "Bulletin Board" %}</a>
                    <span class="undeground-text">{% trans "MMORPG" %}</span>
                </div>
                <!--End block logo-->
                <ul>
                    <li><a class="text-navigation" href="{% url 'CategoryList' %}">{% trans "Categories" %}</a></li>
                    <li><a class="text-navigation" href="{% url 'PostList' %}">{% trans "News" %}</a></li>
                </ul>
            </nav>
            {% endblock nav %}
            <!--End navigation panel-->

            <!--Start block user-navigation-->
            {% block user_nav %}
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a class="user" href="{% url 'accounts_profile' user.pk %}">{% trans "Profile" %}</a></li>
                    <li><a class="user" href="{% url 'accounts_logout' %}">{% trans "Logout" %}</a></li>
                {% else %}
                    <li><a class="user" href="{% url 'accounts_login' %}">{% trans "Login" %}</a></li>
                    <li><a class="user" href="{% url 'accounts_signup' %}">{% trans "SignUp" %}</a></li>
                {% endif %}
            </ul>
            {% endblock user_nav %}
        <!--End block user-navigation-->

        </header>
        <main class="main">

            <!--Start side-left panel-->
            <aside class="side-left">
                {% block side-left %}
                {% endblock side-left %}
            </aside>
            <!--End side-left panel-->

            <!--Start block main content-->
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
            <!--End block main content-->

            <!--Start side-right panel-->
            <div class="side-right">
                {% block side-right %}
                {% endblock side-right %}
            </div>
            <!--End side-right panel-->
        </main>

        <!--Start footer block-->
        <footer class="footer">
            © {% trans "Bulletin Board" %}  
        </footer>
        <!--End footer block-->

    </body>
</html>