{% extends 'default.html' %}
{% load static %}
{% load i18n %}
{% block header %}
    <meta charset="UTF-8">
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock header %}
{% block side-left %}
{% endblock side-left %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="green-button" type="submit">Create</button>
</form>
{% endblock content %}
{% block side-right %}
{% endblock side-right %}