{% extends 'default.html' %}
{% load i18n %}

{% block header %}
{% endblock header %}

{% block side-left %}
    <section>
        <h1>{% trans 'Categories' %}</h1>
    </section>
    <!--Start section list categories-->
    <section>
        <ul class="categories">
        {% for category in categories %}
            <li class="category">
                <a href="{% url 'BoardsInCategory' category.pk category.slug %}">{{category.name}}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
    <!--End section list categories-->
{% endblock side-left %}
{% block content %}
    {% for BIC in boards_in_category %}
        <article class="card_board">
            <section class="card-left">
            <span class="card_author">
                {{ BIC.author }} - {{ BIC.created_date }}
            </span>
            <h1 class="card_title">
                <a href="{% url 'BoardDetail' BIC.pk BIC.slug %}">{{BIC.title}}</a>
            </h1>
            <p class="title_description">
                {{BIC.text|truncatechars:100|safe}}
            </p>
            <span>{% trans 'Category' %}: {{ BIC.category }}</span>
            <div><button class="green-button">{% trans 'reply' %}</button><br></div>
            </section>
        {% if board.image %}
            <section class="card-right">
            <img src="{{ BIC.image.url }}" alt="Board Image">
            </section>
        {% endif %}
        </article >
    {% endfor %}
{% endblock content %}
{% block side-right %}
    <section>
        <h1>{% trans 'News' %}</h1>
    </section>
    <section class="posts">
        <ul>
        {% for post in posts %}
            <li>
                <a href="#">{{ post.author }}</a>
                <h3><a href="{% url 'PostDetail' post.pk post.slug %}">{{ post.title }}</a></h3>
                <p>{{ post.text|truncatechars:100 }}</p>
            </li>
        {% endfor %}
        </ul>
    </section>
{% endblock side-right %}