{% extends 'default.html' %}
{% load i18n %}
{% block header %}
{% endblock header %}
{% block side-left %}
    <section>
        <h1>{% trans 'Categories' %}</h1>
    </section>
    <section>
        <ul class="categories">
        {% for category in categories %}
            <li class="category">
                <a href="#">{{category.name}}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
{% endblock side-left %}
{% block content %}
    {% for board in boards %}
        <article class="card_board">
            <section class="card-left">
            <button>{% trans 'reply' %}</button><br>
            <span class="card_author">
                {{ board.author }} - {{ board.created_date }}
            </span>
            <h1 class="card_title">
                <a href="{% url 'BoardDetail' board.pk board.slug %}">{{board.title}}</a>
            </h1>
            <p class="title_description">
                {{board.text|truncatechars:100|safe}}
            </p>
            <span>{% trans 'Category' %}: {{ board.category }}</span>
            </section>
        {% if board.image %}
            <section class="card-right">
            <img src="{{ board.image.url }}" alt="Board Image">
            </section>
        {% endif %}
        </article >
    {% endfor %}
{% endblock content %}
{% block side-right %}
    <section>
        <h1>{% trans 'News' %}</h1>
    </section>
    <section class="posts">
        <ul>
        {% for post in posts %}
            <li>
                <a href="#">{{ post.author }}</a>
                <h3><a href="#">{{ post.title }}</a></h3>
                <p>{{ post.text|truncatechars:100 }}</p>
            </li>
        {% endfor %}
            
        </ul>
    </section>
{% endblock side-right %}